@charset "utf-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(0, 145, 191);
    background: linear-gradient(180deg, rgba(0, 145, 191, 1) 0%, rgba(147, 16, 192, 1) 80%);
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.contenido {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    position: relative; /* Añadido posicionamiento relativo */
    z-index: 1; /* Añadida la posición z para elevar el contenido sobre el formulario */
}

.formulari {
    width: 600px;
    height: 400px;
    position: absolute; /* Cambiado a posicionamiento absoluto */
    top: 50%; /* Colocado en la mitad superior de la ventana */
    left: 50%; /* Centrado horizontalmente */
    transform: translate(-50%, -50%); /* Centrado vertical */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    background-color: #515151;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.titulo {
    margin-bottom: 20px; /* Ajusta el espacio entre el título y los botones */
}

.btn-container {
    margin-top: 20px; /* Ajusta el espacio entre el título y los botones */
}

.btn-cultura {
    display: flex;
    width: calc(100% - 20px);
    height: 50px;
    background-color: #D9D9D9;
    color: black;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-cultura:hover {
    background: linear-gradient(90deg, rgba(0,126,191,1) 0%, rgba(147,16,192,1) 100%);
    color: white;
}

.welcome-text {
    margin-bottom: 20px; /* Ajusta la separación entre el mensaje de bienvenida y los botones */
}

.btn-tornar {
    position: absolute;
    top: 10px;
    left: 10px;
    color: black;
    text-decoration: none;
    background-color: #D9D9D9;
    padding: 10px 20px;
    border-radius: 335px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
    color: transparent;
}

.btn-tornar:hover {
    width: 120px;
    color: black;
}

.username-input {
    width: 80%;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 50px; /* Aumento del espacio entre el cuadro de texto y el botón */
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 16px; /* Tamaño de fuente ajustado */
    background-color: #D9D9D9;
    text-align: center;
}

.username-input:focus {
    outline: none;
}

.comencar-btn {
    display: block;
    margin: 0 auto; /* Centra el botón horizontalmente */
    width: 140px; /* Hace que el ancho del botón se ajuste automáticamente al contenido */
    background-color: #0091BF; /* Cambio de color a verde */
    color: white;
    padding: 10px 20px; /* Reducción del padding horizontal */
    border: none;
    border-radius: 100px;
    cursor: pointer;
    text-align: center;
    font-size: 16px; /* Tamaño de fuente ajustado */
    transition: 0.3s;
}

.comencar-btn:hover {
    background-color: #007EBF; /* Cambio de color de hover */
    width: 110px; /* Ajuste del ancho del botón en hover */
}





/* CALCULADORA */



.calculator {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.botonCalc {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #0091BF;
    transition: background-color 0.3s ease;
}

.botonCalc:hover {
    background-color: #007EBF;
}

.operator {
    background-color: #D9D9D9;
    color: black;
}

.operator:hover {
    background-color: #adadad;

}


.equal {
    width: 125px;
    background-color: #0091BF;
    color: white;
}

.equal:hover {
    background-color: #007EBF;
}


.clear {
  
    background-color: #D9D9D9;
    color: black;
}

.clear:hover {
    background-color: #db9494;
}

#display {
    width: 90%;
    height: 100px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 24px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    text-align: right;
}
